h1 {
	color: black;
	font-size: 25px;
	text-decoration: underline;
}
body {
	background-color: lightblue;
	background-image: url("http://pngimg.com/upload/tree_PNG3498.png");
	background-repeat: no-repeat;
	}
p {
	color: white;
	font-size: 20px;
}

a{
	font-family: Georgia;
	font-size: 15px;
	font-style: italic;
}
a:visited {
	color: white;
}
a:active{
	color: blue;
}